<div id="divForm">
  <div class="paddingForm">
    <div class="form-style-8">
      <h2>{{ isLoginMode ? "Login to your account" : "Sign Up" }}</h2>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf="!isLoading">
        <input
          ngModel
          type="text"
          placeholder="Full name"
          name="fullName"
          *ngIf="!isLoginMode"
        />
        <input ngModel type="text" name="email" placeholder="Email" />
        <input
          ngModel
          type="number"
          placeholder="Monthly income"
          name="monthlyIncome"
          *ngIf="!isLoginMode"
        />
       
        <input ngModel type="password" name="password" placeholder="Password" />
        <button type="submit">
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        |
        <h1
          *ngIf="
            authenticationService && authenticationService.userData | async
          "
        >
          Hello {{ (authenticationService.userData | async)?.email }}
        </h1>
        <button type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? "Sign Up" : "Login" }}
        </button>
        <span class="error" *ngIf="error">{{ error }}</span>
      </form>
    </div>
  </div>
</div>
